article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


body{
     font-family: Arial, Helvetica, sans-serif;
}
table, th, td{
     border:1px solid black;
     padding:10px
}

header{
     background: #004B8D;
     background: -webkit-linear-gradient(45deg, #6e00ee 0%,#004B8D 100%);
     background: linear-gradient(67deg, #6e00ee 13%,#004B8D 100%);
}

#root .inner-wrapper{
     margin: 0 auto;
     max-width:1000px;
 }

#navBarContainer{
     padding:25px;
     /* background: #004B8D; */
     color:beige;
     display: flex;
     justify-content: space-between;
     /* flex-wrap: wrap; */
}

#navBar {
     display:flex;
     padding:20px;
     justify-content: flex-end;
     margin:0;
}

.nav-item{
     list-style:none;
     padding:20px
}

a{
     text-decoration:none;
     color:beige;
}

#resume, #about, #contact, #portfolio {
     margin:10%;
}

h1, h2, h3{
     text-align: center;
}

#aboutMe {
     display:flex;
     padding:20px;
     flex-direction:row;
     justify-content:space-between;
}

#aboutMe img{
     width:35%;
     border-radius:50%;
}

#aboutMe p{
     width:45%;
     font-size:26px;
}

/* .cardContainer{
     display: flex;
     flex-direction:row;
     flex-wrap: wrap;
     flex-grow: 1;
} */

/* .cards{
     width:25vw;
     border: 2px dotted maroon;
     box-shadow: 10px 10px gray;
     border-radius: 10px;
     padding:25px;
     margin:25px auto;
} */
.cardContainer {
     padding:20px 40px 40px 40px;
     background: rgba(255, 255, 255, 0.04);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(4px);
     -webkit-backdrop-filter: blur(4px);
     border: 1px solid rgba(255, 255, 255, 0.45);
     margin:20px auto; 
 }

.cards{
     margin:25px auto;
     padding:25px;
     width:25vw;
     background: rgba(165, 163, 189, 0);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(10.3px);
     -webkit-backdrop-filter: blur(10.3px);
     border: 1px solid rgba(165, 163, 189, 0.45);
 }

/* .cards a{
     color:beige;
     text-decoration: none;
     margin: 20px;
     border-radius: 20px;
} */
/* .cards a{
     color:beige;
     text-decoration: none;
     display:inline-block;
     border-radius: 20px;
     margin:0 10px 10px 0;
     filter: drop-shadow(2px 2px 4px #ccc);
 } */
 .cards a{
     /* background:#fff; */
     border-radius: 10px;
     display:inline-block;
     margin:0 10px 10px 0;
     filter: drop-shadow(2px 2px 4px #ccc);
 }

#portfolio img{
     width:25vw;
     height: 250px;
     /* padding: 15px; */
     margin: 0 auto;
}

input{
     padding:10px;
     margin:10px
}

.git, .app{
     background-color: blue;
     padding: 10px;
}
/* footer {
     background: #004B8D;
     display:flex;
     padding:20px;
     flex-direction:row;
     justify-content: space-around;
} */
/* document:{
     display:flex;
     width:20px;
     flexDirection:row;
     justifyContent: space-between;
   }; */




   footer {
     background: #004B8D;
     background: -webkit-linear-gradient(45deg, #6e00ee 0%,#004B8D 100%);
     background: linear-gradient(67deg, #6e00ee 13%,#004B8D 100%);
    
   }

   footer ul {

     display:flex;

     flex-direction:row;
     justify-content: space-around;
   }

   footer li{
      list-style:none;
      padding:20px;
      color:beige;
    }
    footer li a {
      text-decoration:none;
      color:beige;
    }